-
  links = [
    {
      link: 'https://www.youtube.com/',
      img: require('@/assets/img/global/youtube.svg'),
    }, {
      link: 'https://www.instagram.com',
      img: require('@/assets/img/global/inst.svg'),
    }, {
      link: 'https://vk.com/',
      img: require('@/assets/img/global/vk.svg'),
    }, {
      link: 'javascript:',
      img: require('@/assets/img/global/whatsapp.svg'),
    }, {
      link: 'javascript:',
      img: require('@/assets/img/global/tg.svg'),
    }
  ]

